<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>맛집 데이터와 클러스터 적용</title>

</head>
<body>
<div id="map" style="width:500px;height:500px;"></div>

<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0fac36ed91632bc45044a8bb7e9bc610&libraries=clusterer"></script>
<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div
		    mapOption = {
		        center: new kakao.maps.LatLng(35.767656775135855, 128.1321971735885), // 지도의 중심좌표
		        level: 13, // 지도의 확대 레벨
		        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
		    };

        // 지도를 생성한다
        var map = new kakao.maps.Map(mapContainer, mapOption);


        // 마커 클러스터러를 생성합니다
        var clusterer = new kakao.maps.MarkerClusterer({
            map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
            averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
            minLevel: 10 // 클러스터 할 최소 지도 레벨
        });

        var 데이터 = [
            [37.55321, 126.972613, '<div style="padding: 5px">맛집1</div>'],
            [37.558907, 126.978305, '<div style="padding: 5px">맛집2</div>'],
            [37.55893317244327, 126.94417826730081, '<div style="padding: 5px">맛집3</div>'],
            [35.84797159836225, 128.56681689191151, '<div style="padding: 5px">맛집4</div>'],
            [35.84300124858876, 128.5716149006325, '<div style="padding: 5px">청라연</div>'],
            [35.85523053224151, 128.55430780298593, '<div style="padding: 5px">달고떡볶이</div>'],
            [35.84797159836225, 128.56681689191151, '<div style="padding: 5px"></div>']
            ]

        var markers = [];
        for (var i = 0; i < 데이터.length; i++) {
            // 지도에 마커를 생성하고 표시한다
            var marker = new kakao.maps.Marker({
                position: new kakao.maps.LatLng(데이터[i][0], 데이터[i][1]), // 마커의 좌표
                map: map // 마커를 표시할 지도 객체
            });
            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: 데이터[i][2]
            });

            markers.push(marker);
            kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
        }



        // 클러스터러에 마커들을 추가합니다
        clusterer.addMarkers(markers);

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
        function makeOverListener(map, marker, infowindow) {
            return function () {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다
        function makeOutListener(infowindow) {
            return function () {
                infowindow.close();
            };
        }

</script>



</body>
</html>