<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>팀 바다코끼리</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">

    <!-- 밑의 내용은 app.py의 데이터 연결내용입니다 -->
    <script>
        function make_review() {
            let name = $('#name').val();
            let review = $('#review').val();
            let star = $('#star').val();

            $.ajax({
                    type: "POST",
                    url: "/review",
                    data: {name_give: name, review_give: review, star_give: star},
                    success: function (response) {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            )
        }

        //맛집 api를 지도의 좌표에 삽입할 목표!
        function get_data() {
            let gyundo = $('#gyundo').val()
            let wedo = $('#wedo').val()

            $.ajax({
                type: "GET",
                url: "/jido",
                data: {
                    REFINE_WGS84_LOGT: gyundo,
                    REFINE_WGS84_LAT: wedo
                },
                success: function (response) {
                    console.log(response)
                }
            })
        }


    </script>


</head>

<body>
<!-- 지도를 표시할 div 입니다 -->
<div id="map" style="width:500px;height:500px;"></div>

<script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0fac36ed91632bc45044a8bb7c610&e9blibraries=services,clusterer,drawing"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(35.767656775135855, 128.1321971735885), // 지도의 중심좌표
            level: 10, // 지도의 확대 레벨
            mapTypeId: kakao.maps.MapTypeId.ROADMAP // 지도종류
        };

    // 지도를 생성한다
    var map = new kakao.maps.Map(mapContainer, mapOption);


    // 마커 클러스터러를 생성합니다
    var clusterer = new kakao.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
        minLevel: 10 // 클러스터 할 최소 지도 레벨
    });

    var 데이터 = [
        [37.52562569910946, 127.0410732934029, '<div style="padding: 5px">정식당</div>'],
        [37.558907, 126.978305, '<div style="padding: 5px">맛집2</div>'],
        [37.55893317244327, 126.94417826730081, '<div style="padding: 5px">맛집3</div>']
    ];
    var markers = [];
    for (var i = 0; i < 데이터.length; i++) {
        // 지도에 마커를 생성하고 표시한다
        var marker = new kakao.maps.Marker({
            position: new kakao.maps.LatLng(데이터[i][0], 데이터[i][1]), // 마커의 좌표
            map: map // 마커를 표시할 지도 객체
        });
        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: 데이터[i][2]
        });

        markers.push(marker);
        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
    }


    // 클러스터러에 마커들을 추가합니다
    clusterer.addMarkers(markers);

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function () {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function () {
            infowindow.close();
        };
    }

</script>

</body>

</html>

<!DOCTYPE html>