<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>
       마커에 인포윈도우 표시하기</title>
    <style>
        #map {
            position: relative;
            left: 50px;
            top: 60px;
            width: 500px;
            height: 500px;
            margin: auto;
            padding: 50px;
        }
    </style>

</head>

<body>
<button id="btn1">지도로 스크롤 이동</button>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="btn2" onclick="seoul()">서울로 갈그니까</a>
    <a class="dropdown-item" href="#">북으로 갈끄니까</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div id="map"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    function seoul() {
        var moveLatLon = new kakao.maps.LatLng(39.202918995786824, 125.67413054488715);
        map.setCenter(moveLatLon);
    }
</script>


<script
        type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0fac36ed91632bc45044a8bb7e9bc610"
></script>
<script
        type="text/javascript"
        src="http://code.jquery.com/jquery-latest.js"
></script>
<script>
    function scroll(){
        var offset = $("#map").offset(); //선택한 태그의 위치를 반환

            //animate()메서드를 이용해서 선택한 태그의 스크롤 위치를 지정해서 0.4초 동안 부드럽게 해당 위치로 이동함

            $("html").animate({scrollTop: offset.top}, 400);
    }
</script>
<script>
    $(document).ready(function () {
        $("#btn1,#btn2,#btn3,#btn4").click(function () {
            var offset = $("#map").offset(); //선택한 태그의 위치를 반환

            //animate()메서드를 이용해서 선택한 태그의 스크롤 위치를 지정해서 0.4초 동안 부드럽게 해당 위치로 이동함

            $("html").animate({scrollTop: offset.top}, 400);
        });
    });

    var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450936, 126.569477), // 지도의 중심좌표
            level: 3, // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
    var positions = [
        {
            content: "<div>카카오</div>",
            latlng: new kakao.maps.LatLng(33.450705, 126.570677),
        },
        {
            content: "<div>생태연못</div>",
            latlng: new kakao.maps.LatLng(33.450936, 126.569477),
        },
        {
            content: "<div>텃밭</div>",
            latlng: new kakao.maps.LatLng(33.450879, 126.56994),
        },
        {
            content: "<div>근린공원</div>",
            latlng: new kakao.maps.LatLng(33.451393, 126.570738),
        },
    ];

    for (var i = 0; i < positions.length; i++) {
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커의 위치
        });

        // 마커에 표시할 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: positions[i].content, // 인포윈도우에 표시할 내용
        });

        // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(
            marker,
            "mouseover",
            makeOverListener(map, marker, infowindow)
        );
        kakao.maps.event.addListener(
            marker,
            "mouseout",
            makeOutListener(infowindow)
        );
    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function () {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function () {
            infowindow.close();
        };
    }

    /* 아래와 같이도 할 수 있습니다 */
    /*
for (var i = 0; i < positions.length; i ++) {
  // 마커를 생성합니다
  var marker = new kakao.maps.Marker({
      map: map, // 마커를 표시할 지도
      position: positions[i].latlng // 마커의 위치
  });

  // 마커에 표시할 인포윈도우를 생성합니다
  var infowindow = new kakao.maps.InfoWindow({
      content: positions[i].content // 인포윈도우에 표시할 내용
  });

  // 마커에 이벤트를 등록하는 함수 만들고 즉시 호출하여 클로저를 만듭니다
  // 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
  (function(marker, infowindow) {
      // 마커에 mouseover 이벤트를 등록하고 마우스 오버 시 인포윈도우를 표시합니다
      kakao.maps.event.addListener(marker, 'mouseover', function() {
          infowindow.open(map, marker);
      });

      // 마커에 mouseout 이벤트를 등록하고 마우스 아웃 시 인포윈도우를 닫습니다
      kakao.maps.event.addListener(marker, 'mouseout', function() {
          infowindow.close();
      });
  })(marker, infowindow);
}
*/
</script>
</body>
</html>
</title>
</head>
<body>

</body>
</html>